*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-section{
    width: 100vw;
    height: calc(75vh + 40px);
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.game-container{
    display: flex;
    top: 90px;
    position: absolute;
    width: 95vw;
    height: 75vh;
    background-color: #787878;
    cursor: url("../../public/crosshair.png") 12 12, auto;
}

.counter{
    display: block;
    margin-top: 10px;
    font-size: 50px;
}